* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.img-stiky {
    width: 120px;
    padding: 10px;
}

.nav-right {
    display: flex;
    justify-self: right;
    list-style-type: none;
}

.jumbotron {
    height: 500px;
}

.jumbo-img {
    position: relative;
    height:100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: auto;
}

.text-jumbo {
    position: absolute;
    bottom: 10%;
    padding: 30px;
    width: 35%;
}


.text-jumbo span > img  {
    height: 30px;
}

section.jumbotron .jumbo-img button {
    position: absolute;
    bottom: 5%;
    margin-left: 30px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}

section.main-top button {
padding: 2px;
background: white;
border-radius: 20px;
}

section.main-top button img {
    height: 80px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

#ps4-content {
    display: flex;
}

.img-playstation5 > img {
    width: 100%;
}

.console-btm {
    height: 200px;
    width: 200px;
}

.console-btm img {
    margin: 0% auto;
}

.console-btm img,span {
    text-align: left;
    display: inherit;
}

.console-btm:hover {
    border-bottom: 3px solid rgb(33, 77, 221) ;
    filter: opacity(0.5);
}

.jumbotron2 {
    height: 100%;
    width: 100%;
}

.jumbo-img2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: auto;
    padding-left: 50px;
    padding-top: 20px;
}


.jumbo-img2 img {
   width: 200px;
}

.jumbo-img2 h2 {
    width: 35%;
}

.main-bottom {
object-fit: cover;
border-radius: 20px;
}


section.main-bottom button {
padding: 2px;
background: white;
border-radius: 20px;
}

section.main-bottom button img {
    height: 130px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

section.psplus div > img {
    float: right;
}

.psplus button {
    padding: 5px;
    width: 200px;
    border-radius: 20px;
    color: lightseagreen;
}

.now {
    background-color: rgb(10, 10, 85);
}

.img {
    width: 100px;
}



ul {
    width: 100px;
    padding: 100px;
    margin: 20px;
    list-style-type: none;
}

ul li {
    width: 100px;
}


/* @media screen and (min-width:576px) {
    
.social{
    width: 100%;
}

} */


@media screen and (max-width:720px){
    

section.main-bottom div {
   display: flex;
}

#ps4-content {
    display: inline-block;
    padding: 5%;
}

.nuovisconti {
    padding: 5%;
}

section.psplus div.avengers img {
    display: none;
}


.nuovisconti {
    display: flex;
    }
    

}

@media screen and (min-width:1400px){
    
        .nuovisconti {
            display: inline-block;
            }
    }
